---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage frontmatter={{ title: "Home", template: "splash" }}>
  <h1>Haaaaallllllloooooooo</h1>
  <p>Willkommen auf meiner IPA-Startseite 🎓</p>
</StarlightPage>
